$black: #232323;
$background: #272727;
$orange: #fe5f1e;
$orange-hover: #fe5d1ece;
$error-message: red;
$error-message-block: red;

$container-width: 90%;
$comon-font-size: 20px;

$task-not-completed: red;
$task-completed: green;